<div class="container mt-4">
  <h1>Edit Map</h1>

  <%= render "form", map: @map %>

  <div class="mt-4">
    <%= link_to "â† Back to Map", @map, class: "btn btn-outline-secondary" %>
  </div>
</div>

