<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Maps</h1>
    <% if current_user&.admin? %>
      <%= link_to "New Map", new_map_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @root_maps.any? %>
    <div class="row">
      <% @root_maps.each do |map| %>
        <%= render partial: "map_card", locals: { map: map } %>
      <% end %>
    </div>
  <% else %>
    <div class="alert alert-info">
      <% if current_user&.admin? %>
        No maps yet. <%= link_to "Create your first map", new_map_path %>.
      <% else %>
        No maps yet.
      <% end %>
    </div>
  <% end %>
</div>

