<div class="container mt-4">
  <h1>Edit Resource</h1>

  <%= render "form", resource: @resource %>

  <div class="mt-4">
    <%= link_to "â† Back to Resource", @resource, class: "btn btn-outline-secondary" %>
  </div>
</div>

